.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*todo*/
    user-select: none;
}

body {
    overflow: hidden;
}

ul, li {
    list-style: none;
}

#canvas {
    background: white;
    position: fixed;
    display: block;
    /*悬浮时显示十字架*/
    cursor: crosshair;
}

.tools {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tools button {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    outline: none;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.tools button.active {
    box-shadow: 0 0 15px black;
}

.color-group {
    position: fixed;
    width: 30px;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.color-group ul li {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    margin: 10px 0;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.color-group ul li.active {
    box-shadow: 0 0 15px blue;
}

#range-wrap {
    position: fixed;
    top: 50%;
    right: 30px;
    width: 30px;
    height: 150px;
    margin-top: -75px;
}

#range-wrap input {
    transform: rotate(-90deg);
    transform-origin: 75px 75px;
    width: 150px;
    height: 20px;
    margin: 0;
    border-radius: 15px;
    /*设置拖动按钮样式*/
    /*不应用任何特殊样式*/
    /*mdn说这是一个开发中的功能，慎用*/
    -webkit-appearance: none;
    outline: none;
    position: relative;
}

/*设置拖动按钮长条的样式，有点难懂*/
#range-wrap input::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right: 150px solid #00ccff;
    border-left-width: 0;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 15px;
    z-index: 0;
}

/*下边这三个选择器作用是修改拖动按钮的样式，有点难懂*/
#range-wrap input[type=range]::-webkit-slider-thumb, #range-wrap input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
}

#range-wrap input[type=range]::-webkit-slider-runnable-track, #range-wrap input[type=range]::-moz-range-track {
    height: 10px;
    border-radius: 10px;
    box-shadow: none;
}

#range-wrap input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    margin-top: -1px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 8px #00CCFF;
    position: relative;
    z-index: 999;
}


/*媒体查询兼容手机端样式*/
/*在视口宽度小于等于768像素时*/
@media screen and (max-width: 768px) {
    .tools {
        bottom: auto;
        top: 20px;
    }

    .tools button {
        width: 35px;
        height: 35px;
        margin-bottom: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .color-group {
        bottom: 10px;
        top: auto;
        left: 50%;
        transform: translateX(-50%) translateY(0px);
        width: 80%;
    }

    .color-group ul {
        display: flex;
        justify-content: space-around;
    }

    #range-wrap {
        right: auto;
        left: 20px;
    }
}